.pageContainer {
  height: 100%;
  width: 100%;
  max-width: 900px;
  padding: 2rem 1rem;
  font-family: 'Inter', sans-serif;
}

.contentContainer {
  margin-left: auto;
  margin-right: auto;
}

.header {
  margin-bottom: 3rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--accent-color);
  margin-bottom: 0.5rem;
  line-height: 1.2;
  letter-spacing: -0.01rem;
}

.subtitle {
  font-size: 1.25rem;
  color: var(--text-secondary);
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.skillSetsContainer {
    margin-top: 3rem;
}

.skillContainer {
    display: flex;
    margin: 0.25rem;
    gap: 2rem;
    flex-wrap: wrap;
}

.skillsContent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.skillLogo {
    width: 40px;
}


@media screen and (max-width: 768px) {
  .skillContainer{
    margin: 2rem 0;
  }

  .skillLogo {
    height: fit-content;
  }
}  